/* ---------- CHECKPOIT-TOP  ---------- */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url(../css/root.css);
@import url(../css/btn.css);
@import url(../css/paragraph.css);

/* ----------  CHECKPOIT-CONTAINER  ---------- */
.container {
    width: 100vw;

}
body{
    background: #000;
}

.chackpoint {
    transform: translateY(-48px);
}
/* ----------  CHECKPOIT-HEADER  ---------- */

.main-header{
    position:-webkit-sticky;
    position:sticky;
    top:0;
    z-index: 8000;

    height: 3rem;
    backdrop-filter: blur(10px);
}

/* PC */
.toggler-container, .toggler, .toggler-icon,
.main-header-container > label{
    display: none;
}

/* Container */
.main-header-container {
    background-color: var(--black-overlay);
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}

/* Title */
.main-header-container > h2 > a{
    color: var(--white);
    font-size: 1.4rem;
    text-decoration: none;
}

/* Nav links */

.main-header-container > ul > li{
    display: inline-block;
    margin: 0 1rem;
}
.main-header-container > ul > li:last-child{
    border-left: 1px solid var(--white);
    padding-left: 2rem;
}
.main-header-container > ul > li > a {
    position: relative;
    color: var(--neon);
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: bold;
    z-index: 1;
    display: inline-block;
    line-height: 5px;
    transition: transform ease .2s;
}
.main-header-container > ul > li > a:hover {
    transform: translateY(-2px);
}
.main-header-container > ul > li > a::after{
        content: "";
        display: block;
        width: auto;
        height: 5px;
        background: var(--green);
        position: relative;
        bottom: 0px;
        z-index: -1;
}

/* MEDIA_CHECKPOINT */
@media screen and (max-width: 768px)
{
    .toggler{
        display: none;
        z-index: 9500;
    }
    .main-header-container>ul{
        display: none;
    }

    .menu-icon{
        display: block;
    }

    .toggler-container{
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--black-overlay);
        z-index: 9000;
        opacity: 0;
        transition: opacity 3s ease-in-out;
    }

    .toggler:checked ~ .toggler-container{
        opacity: 1;
    }

    .toggler-container>ul{
        display: flex;
        height: 100%;
        width: 100%;
        list-style: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .toggler-container>ul>li{
        transform: translateX(-100vw);
    }

    

    .toggler-container>ul>li>a{
        position: relative;
        color: var(--neon);
        font-size: 1.6rem;
        text-decoration: none;
        font-weight: bold;
        z-index: 1;
        display: inline-block;
        line-height: 5px;
        transition: transform ease .2s;
    }

    .toggler-container>ul>li>a:hover{
        transform: translateY(-2px);
    }
    .toggler-container > ul > li > a::after{
        content: "";
        display: block;
        width: 100%;
        height: .6rem;
        background: var(--green);
        position: relative;
        bottom: -2px;
        left: 0px;
        z-index: -1;
    }

    .main-header-container>.toggler:checked ~ .toggler-container{
        display: block;
    }

    .main-header-container > .toggler-icon {
        height: 25px;
        width: 25px;
        z-index: 9500;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .main-header-container > .toggler-icon > span {
        background-color: var(--white);
        height: 2px;
        width: 100%;
        border-radius: 1px;
        cursor:pointer; 
        transition: .25s ease-in-out;
    }

    .toggler:checked ~ .toggler-icon span:nth-child(1){
        transform-origin: 1px 0px;
        animation: span1 .8s forwards cubic-bezier(.8, .5, .2, 1.4);
    }
    .toggler:checked ~ .toggler-icon span:nth-child(2){
        opacity: 0;
    }
    .toggler:checked ~ .toggler-icon span:nth-child(3){
        transform-origin: 2px 0px;
        animation: span3 .8s forwards cubic-bezier(.8, .5, .2, 1.4);
    }

    @keyframes span1 {
        60% {
            transform: translateY(8px);
        }
        100% {
            transform: rotate(45deg);
        }
    }

    @keyframes span3 {
        60% {
            transform: translateY(-8px);
        }
        100% {
            transform: rotate(-45deg);
        }
    }

    .toggler ~ .toggler-icon span:nth-child(1){
        transform-origin: 1px 0px;
        animation: span1-close .8s forwards cubic-bezier(.8, .5, .2, 1.4);
    }
    .toggler ~ .toggler-icon span:nth-child(2){
        opacity: 1;
    }
    .toggler ~ .toggler-icon span:nth-child(3){
        transform-origin: 2px 0px;
        animation: span3-close .8s forwards cubic-bezier(.8, .5, .2, 1.4);
    }

    @keyframes span1-close {
        0% {
            transform: rotate(45deg);
        }
        100% { }
    }

    @keyframes span3-close {
        0% {
            transform: rotate(-45deg);
        }
        100% { }
    }

    .toggler:checked ~ .toggler-container > ul > li:nth-child(1){
        animation: menu-content .2s forwards ease-out;
        animation-delay: 0s;
    }
    .toggler:checked ~ .toggler-container > ul > li:nth-child(2){
        animation: menu-content .2s forwards ease-out;
        animation-delay: .1s;
    }
    .toggler:checked ~ .toggler-container > ul > li:nth-child(3){
        animation: menu-content .2s forwards ease-out;
        animation-delay: .2s;
    }
    .toggler:checked ~ .toggler-container > ul > li:nth-child(4){
        animation: menu-content .2s forwards ease-out;
        animation-delay: .3s;
    }
    .toggler:checked ~ .toggler-container > ul > li:nth-child(5){
        animation: menu-content .2s forwards ease-out;
        animation-delay: .4s;
    }

    @keyframes menu-content {
        0% {
            transform: translateX(-100vw);
        }
        100% {
            transform: translateX(0rem);
        }
    }

}

/* ----------  CHECKPOIT-TITLES  ---------- */
main > section > header{
    height: 6rem;
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
}
main > section > header > h2 {
    color: var(--black);
    font-size: 3rem;
    white-space: nowrap;
    margin: 0 1rem;
}
main > section > header > div {
    background-color: var(--black);
    height: 5px;
    width: 100%;
}

/* ----------  CHECKPOIT-START  ---------- */
/* Container */
main > .start {
    background: url(../images/show.jpg);
                
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;

}
/* Wave */
.start > .wave {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background: url(../images/wave.png);
    filter: invert();
    background-repeat: no-repeat;
    background-size:contain;
    opacity: 1;
    background-position-y: bottom;
    background-size: 100% 50%;
}
/* Black Overlay */
main > .start > .cover-overlay {
    background: linear-gradient(to bottom,
    var(--kelly-overlay) 0%, rgba(0, 0, 0, 0) 10rem),
    var(--black-overlay);
    height: 100%;
    backdrop-filter: blur(2px);
    
    padding: 8rem 2rem;
    padding-top: 5rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    justify-items: center;
    align-items: center;

    z-index: -1;
}
/* Left Elements */
main > .start > .cover-overlay > article,
main > .start > .cover-overlay > div{
    z-index: 2;
}
.start > .cover-overlay > article > div {
    padding:1rem 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.start > .cover-overlay > article{
    width: 30rem;
    justify-self: end;

    display: flex;
    flex-direction: column;
}
.start > .cover-overlay > article > img {
    filter: invert();
    width: 40%;
}

/* Rigth Elemens */
.start > .cover-overlay > .start-img-container> .start-circle {
    width: 85%;
    height: 85%;
    border-radius: 50%;
    position: absolute;
    z-index: -1;

    background:linear-gradient(
        to bottom, 
        var(--kelly-overlay) 0%, 
        var(--blue-overlay) 50%, 
        var(--blue) 100%);;

        opacity: 1;
}
.start > .cover-overlay>.start-img-container> .start-img {
    width: 100%;
    height:100%;
    border-radius: 50%;

    background: url(../images/artic-group.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
}
.start > .cover-overlay>.start-img-container {
    width: 25rem;
    height: 25rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

@media screen and (max-width:968px)
{
    main > .start > .cover-overlay {
        padding-top: 3.3rem;
        padding-bottom: 3rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        align-items: center;

        overflow: hidden;

    }
    
    .start > .cover-overlay>.start-img-container {
        width: 70vw;
        height: 70vw;
        justify-self: center;
    }

    .start > .cover-overlay > article{
        width: 100%;
        justify-self: center;
    }

    .start > .cover-overlay > article > img {
        align-self: center;
        padding-bottom: 1rem;
    }

    .start > .cover-overlay > .start-img-container> .start-circle {
        justify-self: center;
    }
    
    .start > .cover-overlay>.start-img-container> .start-img {
        justify-self: center;
    }

    .start > .cover-overlay > article > div {
        justify-content: center;
    }

    .start > .wave {
        background-size:contain;
        opacity: .3;
        background-position-y: bottom;
        background-size: 100% 30%;
    }
}
/* LUMIA 520 */
@media screen and (width: 320px) and (height: 533px)
{
    .start > .cover-overlay>.start-img-container {
        display: none;
    }
}
/* Iphone 4 */
@media screen and (width: 320px) and (height: 480px)
{
    .start > .cover-overlay>.start-img-container {
        display: none;
    }
}
/* Iphone 5/SE */
@media screen and (width: 320px) and (height: 568px)
{
    .start > .cover-overlay>.start-img-container {
        align-self: start;
        width: 10rem;
        height: 10rem;
    }
}


/* ----------  CHECKPOIT-MEMBERS  ---------- */

.members {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    justify-content: stretch;
    align-items: stretch;
    overflow: hidden;
}

.members > article{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a b";
    justify-items: center;
    align-items: center;

    background: 
    linear-gradient(270deg,
    var(--blue), var(--green));
}
.members > article:nth-child(2n + 1){
    background: 
    linear-gradient(90deg,
    var(--blue), var(--green));
    grid-template-areas: "b a";
}

.members > article > p{
    grid-area: a;
    padding: 3rem 8rem;
}

.members > article > img {
    grid-area: b;
    width: 100%;
    height: 100%;

    border-radius: 1.8rem 0 0 1.8rem ;
    box-shadow: 0 0 5rem black;

    justify-self: start;
    object-fit: cover;

}
.members > article:nth-child(2n + 1) > img {
    justify-self: end;
    border-radius: 0 1.8rem 1.8rem 0;
}


@media screen and (max-width: 842px)
{
    .members > article > img {
        grid-area: b;
        width: 15rem;
        height: 15rem;
        border-radius:1.8rem;
    }
    .members > article:nth-child(2n + 1) > img {
        border-radius: 1.8rem;
    }

    .members > article > p{
        grid-area: a;
        padding: 3rem 3rem;
    }
}

@media screen and (max-width: 500px)
{
    .members {
        display: flex;
        flex-direction: column;

        justify-content: stretch;
        align-items: center;
    }

    .members > article{
        display: flex;
        flex-direction: column-reverse;
        padding: 1rem 0rem;
        padding-top: 0;

        justify-items: flex-start;
        align-items: flex-start;
    }
    .members > article:nth-child(2n + 1){
        padding: 1rem 0rem;
        padding-top: 0;
        background: 
        linear-gradient(90deg,
        var(--blue), var(--green));
        grid-template-areas: "b a";
    }
    
    .members > article > p{
        padding: 2rem 1.5rem;
    }
    
    .members > article > img {
        grid-area: b;
        width: 100vw;
        height: 12rem;
        justify-self: flex-start;
    
        border-radius: 0;
        box-shadow: 0 0 5rem black;
    
        object-fit: cover;
        object-position: top;
    }
    .members > article:nth-child(2n + 1) > img {
        border-radius: 0;
        justify-self: flex-start;
    }
    .members > article:nth-child(1) > img{
        padding-top: 1rem;
    }
}


/* ----------  CHECKPOIT-HISTORY  ---------- */
.history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 5rem;
}

.history > article {
    border-right: 0.3rem solid var(--white);
    border-bottom: 0.3rem solid var(--white);
}
.history > article:nth-child(2n + 1) {
    border-right: 0;
    border-left: 0.3rem solid var(--white);
    border-bottom: 0.3rem solid var(--white);
}
.history > div {
    border-bottom: 0.3rem solid var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.history > article:last-child {
    border-bottom: 0;
}

.history > .bottom-void-c1, .history > .bottom-void-c2{
    border: 0;
}
.history > .bottom-void-c2{
    border-right: 0.3rem solid var(--white);
}

.history > article > header > h2{
    text-align: right;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: .5rem 0rem;
    color: var(--white);
    font-size: 3rem;

    background: var(--black);
    margin-left: -3rem;
    margin-right: -3rem;
}
.history > article:nth-child(2n + 1) > header > h2{
    text-align: left;
}
.history > article > header > h2 > span{
    color: var(--white);
    font-size: 4rem;
    font-weight: bolder;
}

.history > article p{
    padding: 2rem 3rem;
    padding-top: 1rem;
}
.history > article > div > p:first-letter {
    font-size: 3rem;
    float: left;
    padding-top: 0;
    line-height: 2rem; 
}
.history > article > div > p:first-child{
    padding-bottom: 1rem;
}
.history > article > div > p:not(:first-child) {
    padding-top:0rem; 
}
.history > article > div > p:not(:first-child):before {
    content: "";
    display: inline-block;
    width: 1.2rem;
}

.history > article > div > p:last-child{
    padding-bottom: 2rem;
}

.history > div > img{
    width: 20rem;
    height: 20rem;
    padding: 0;
    object-fit: contain;
    transform: translateY(3rem);
}
.history > .r1-c2 > img{
    filter: invert();
}
.history > .r5-c2 > img{
    filter: brightness(8);
}
.history > .r7-c2 > img{
    filter: brightness(8);
}

@media screen and (max-width: 1024px)
{
    .history {
        padding: 0 2rem;
    }
    .history > div > img{
        width: 15rem;
        height: 15rem;
    }
    .history > article p{
        padding: 2rem 2rem;
        padding-top: 1rem;
    }
    .history > article > header > h2{
        padding: .5rem 0rem;

        margin-left: -1rem;
        margin-right: -1rem;
    }
}

@media screen and (max-width: 767px)
{
    .history {
        display: flex;
        flex-direction: column;
        padding: 0 5rem;
    }
    .history > article {
        border-left: 0.3rem solid var(--white);
        border-right: 0;
        border-bottom: 0;
    }
    .history > article:nth-child(2n + 1) {
        border-right: 0;
        border-left: 0.3rem solid var(--white);
        border-bottom: 0;
    }
    .history > div {
        border-bottom: 0;
        border-left: 0.3rem solid var(--white);
    }
    .history > article:last-child {
        border-bottom: 0;
    }
    .history > .bottom-void-c1,
    .history > .bottom-void-c2{
        border-left: 0.3rem solid var(--white);
        border-right: 0;
    }
    .history > article > header > h2{
        text-align: left;
    }
    .history > article:nth-child(2n + 1) > header > h2{
        text-align: left;
    }
    .history > div > img{
        width: 15rem;
        height: 15rem;
        transform: translateY(0rem);
    }
    /* ORDER */
    .history > #a2002{order: 0;}
    .history > .r1-c2{order: 0;}
    .history > #a2006{order: 1;}
    .history > .r2-c1{order: 2;}
    .history > #a2007{order: 3;}
    .history > .r3-c2{order: 4;}
    .history > #a2008{order: 5;}
    .history > .r4-c1{order: 6;}
    .history > #a2011{order: 7;}
    .history > .r5-c2{order: 8;}
    .history > #a2013{order: 9;}
    .history > .r6-c1{order: 10;}
    .history > #a2017{order:11;}
    .history > .r7-c2{order: 12;}
    .history .bottom-void-c1{display: none;;}
    .history .bottom-void-c2{order:13;}
}

@media screen and (max-width: 590px)
{

    .history {
        padding: 0 2rem;
    }

    .history > article p{
        padding: 2rem 1rem;
        padding-top: 1rem;
    }
}

/* ----------  CHECKPOIT-DISCOGRAPHY  ---------- */

.discography {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn3.whatculture.com%2Fimages%2F2014%2F08%2Farctic-monkeys.gif&f=1&nofb=1);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}


.discography > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 2rem;

    background: var(--black-overlay-2);
}

.discography > div > section > figure{
    width: 15rem;
    height: 100%;;
    display: flex;
    flex-direction: column;
    gap: 0;
    border-radius: 0 2rem 0 2rem;
    overflow: hidden;
    transition: all 2s ease;
}
.discography > div > section > figure > img{
    width: 15rem;
    min-height: 15rem;
    object-fit:cover;
    object-position: center;
    align-self: center;
    justify-self:end;
    filter: grayscale(1);
}
.discography > div > section > figure:hover > img{
    filter: grayscale(0);
}
.discography > div > #tranquility > figure > img{
    object-position: -1.4rem;
}
.discography > div > #tranquility > figure:hover > img{
    object-position: -1.4rem;
}

.discography > div > section > figure > figcaption{
    background: linear-gradient(-56deg,
    var(--black), var(--gray));
    height: 100%;
    transition: all .5s ease;

    display: grid;
    grid-template-rows: 2fr repeat(3, 1fr);
    align-items: center;
    justify-content: center;

    padding: .5rem .5rem;  
    padding-bottom: 0;  
}
.discography > div > section > figure:hover > figcaption{
    background: linear-gradient(-56deg,
    var(--green), var(--blue));
}
.discography > div > section > figure > figcaption > p{
    color: var(--white);
    word-wrap: normal;
    text-align: center;
    padding-bottom: 0.5rem;
}

.discography > div > section > figure > figcaption > a{
    text-decoration: none;
}
.discography > div > section > figure > figcaption > a > button {
    width: 15rem;
    height: 2rem;
    background-color: transparent;
    border: 0;
    text-align: left;
    padding-left: 1rem;
    cursor: pointer;
    position: relative;
    

    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}
.discography > div > section > figure > figcaption > a > button > span {
    color: var(--white);
    
}
.discography > div > section > figure > figcaption > a > button > img {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 1rem;
    object-fit: contain;
    filter: invert(1);
}

.discography > div > section > figure > figcaption:nth-child(2) > a > button > img{
    filter: brightness(0) invert(1);
}
.discography > div > section > figure > figcaption > a > button:before {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    border-radius: 0;
    opacity: 0;
    transition: .2s;
}
.discography > div > section > figure > figcaption > a > button:hover::before {
    width: 180%;
    left: 0;
    right: 0;
    opacity: 1;
}

.discography > div > section > figure > figcaption > a > button::before{
    background: var(--white);
}

.discography > div > section > figure > figcaption > a > button:hover > span {
    color: var(--black)
}
.discography > div > section > figure > figcaption > a > button:hover > img {
    filter: brightness(0) invert(0);
}

.discography > div > section > figure > figcaption > div {
    width: 100%;
    height: 2rem;
    border: 0;
}

@media (hover: none) and (pointer: coarse){
    .discography > div > section > figure > img{
        filter: grayscale(0);
    }

    .discography > div > section > figure > figcaption{
        background: linear-gradient(-56deg,
        var(--green), var(--blue));
    }
}

/* ----------  CHECKPOIT-AWARDS  ---------- */

.awards > section > .cover{
    background: var(--black-overlay);
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center ;
    justify-items: start;
    padding: 2rem 3rem;
    backdrop-filter: blur(5px);
}

.awards > section > .cover > article > header{
    display:flex;
    align-items: center;
    justify-content: center;
}
.awards > section > .cover > article > header > span {
    text-align: center;
    font-size: 5rem;
}

.awards > section > .cover > article > span{
    font-size: 2rem;
}
.awards > section > .cover > article > ul{
    padding: 1rem 2rem;
    padding-bottom: 0;
    list-style:circle;
    border-left: 2px solid var(--white);
    margin-left: 1rem;
}
.awards > section > .cover > article > div{
    width: 3rem;
    height: 1rem;
    border-bottom: 2px solid var(--white);
    border-left: 2px solid var(--white);
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.awards > section > .cover > article > ul > li{
    font-size: 1.2rem;
}
.awards > section > .cover > article > ul > li > span{
    font-weight: bold;
    font-size: 1.3rem;
}
.awards > section > .cover > article > ul > li > span::after{
    content: ": ";
    white-space: pre;
    display: inline-block;
}

.awards > section > .cover > .img-cont{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.awards > section > .cover > .img-cont > img{
    width: 70%;
    height:auto;
    align-self: center;
    filter: brightness(1.2);
}
.awards > section > .cover > .img-cont > div{
    width: 70%;
    height: 100%;
    background-color: white;
}

.awards > .brit {
    background: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fstatic.stereogum.com%2Fblogs.dir%2F2%2Ffiles%2F2014%2F02%2Farctic-monkeys_brit-awards.jpg&f=1&nofb=1);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.awards > .gaffa {
    background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.gaffa.dk%2Fimages%2F2011%2F06%2F27%2Ff5f06%2F76099-860x484.jpg&f=1&nofb=1);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.awards > .gaffa > .cover > .img-cont > img{
    background-color: var(--white);
    position: relative;
}
.awards > .grammy {
    background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fe3.365dm.com%2F18%2F01%2F768x432%2Fskynews-arctic-monkeys-band_4203286.jpg%3F20180111164151&f=1&nofb=1);
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
}
.awards > .nme {
    background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.images.express.co.uk%2Fimg%2Fdynamic%2F79%2F590x%2FArctic_Monkeys_NME_Awards_Alex_Turner-462030.jpg&f=1&nofb=1);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.awards > div{
    background-color: var(--white);
    height: 2rem;
    box-shadow: inset 0 0 .6rem var(--black);
}

.awards > .nme > .cover {
    padding-bottom: 5rem;
}

@media screen and (max-width: 864px)
{
    .awards > section > .cover{
        display: flex;
        flex-direction: column;
        align-items: center ;
        justify-items: start;
        padding: 2rem 3rem;
    }

    .awards > section > .cover > .img-cont{
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0 0 5rem black;
    }
}

@media screen and (max-width: 380px)
{
    .awards > section > .cover{
        padding: 2rem 1rem;
    }
}
/* ----------  CHECKPOIT-ABOUT  ---------- */
.wave-container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 0;
    align-content: stretch;
    transform: translateY(-5rem);
    mix-blend-mode: lighten;
    height: 10rem;
}
.wave-container > .wave {
    background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.etsystatic.com%2F15828741%2Fr%2Fil%2F52392d%2F1287493760%2Fil_794xN.1287493760_6xmt.jpg&f=1&nofb=1);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 30rem;
    width: 50rem;
}

.wave-container > .side{
    width: 100%;
    height: 5px;
    background-color: var(--white);
}

.about{
    background: linear-gradient(to bottom, var(--black) 0%, transparent 40%),
    url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallup.net%2Fwp-content%2Fuploads%2F2018%2F09%2F26%2F549255-arctic-monkeys-indie-rock-psychedelic-garage-punk-arctic-monkeys-748x421.jpg&f=1&nofb=1);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 25rem;
    z-index: -1;
    transform: translateY(-8rem);
}

.about > div{
    background: var(--black-overlay);
    height: 100%;
    min-height: 25rem;
    backdrop-filter: blur(10px);
}

.about > div > article{
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    padding-bottom: 0;
}

.about > div > article > header > h2{
    font-size: 3rem;
    color: var(--white);

}

.about > div > article > .content{
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 2rem 0rem;
    margin: 0 2rem;
    border: .3rem solid white;
    border-top: 0;
    border-right: 0;
}

.about > div > article > .content > .text{
    max-width: 25rem;
    padding-left: 2rem;
}

.about > div > article > .content > .official{
    display: flex;
    width: 15rem;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.about > div > article > .content > .official > img{
    width: 13rem;
    align-self: center;
    justify-self: center;
    margin-bottom: 1rem;
}

.about > div > article > .contact {
    margin: 0 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-evenly;
    gap: 1rem;
    padding: 4rem 0;
    border: .3rem solid white;
    border-top: 0;
    border-left: 0;
}
.about > div > article > .contact > .links{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1rem;
}
.about > div > article > .contact > .links > a{
    text-decoration: none;
}
.about > div > article > .contact > .links > a > button{
    background: transparent;
    color: var(--white);
    font-weight: bold;
    padding: .7rem 3rem;
    border: 2px solid var(--white);
    border-radius: 8px;
    box-shadow: 0 10px 10px var(--black-overlay);
    transition: transform ease .2s,
        box-shadow ease .2s,
        background ease .2s;
    display: flex;
    align-items: center;
}

.about > div > article > .contact > .links > a > button > span{
    margin-left: 1rem;
    text-decoration: none;
}

.about > div > article > .contact > .links > a > button > svg{
    width: 1.2rem;
    height: 1.2rem;
}

.about > div > article > .contact > .links > a > button:hover{
    background: var(--white);
    color: var(--black);
    transform: translateY(-2px);;
}

.about > div > article > .contact > h2{
    color: white;
    align-self: center;
    justify-self: flex-start;
}

.about > div > article > .bottom{
    margin: 0 2rem;
    border-left: .3rem solid white;
    height: 1rem;
    width: 100%;
}

@media screen and (max-width: 767px)
{
    .about > div > article > .contact {
        display: flex;
        flex-flow: column;
        gap: 1rem;
    }
}

@media screen and (max-width: 700px)
{
    .about > div > article{
        padding: 2rem 1rem;
        padding-bottom: 0;
    }

    .about > div > article > .content,
    .about > div > article > .contact,
    .about > div > article > .bottom{
        margin: 0;
    }


    .about > div > article > .content > .official{
        display: flex;
        width: 10rem;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }
    
    .about > div > article > .content > .official > img{
        width: 9rem;
        align-self: center;
        justify-self: center;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:540px)
{
    .about > div > article > .content{
        display: flex;
        flex-flow: column;
        gap: 2rem;
        align-items: center;
    }
}

@media screen and (max-width:500px)
{
    .about > div > article > .contact > .links{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}

/* ----------  CHECKPOIT-FOOTER  ---------- */
.main-footer > section{
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-footer > section > .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding-bottom: 5rem;
}

.main-footer > section > .content > h3{
    font-size: 2rem;
}

.main-footer > section > .content > p{text-align: center;}

.main-footer > section > header{
    height: 6rem;
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--kelly);
    justify-content: center;
    align-items: center;
}
.main-footer > section > header > h2 {
    font-size: 3rem;
    white-space: nowrap;
    margin: 0 1rem;
    color: var(--black);
}
.main-footer > section > header > div {
    background-color: var(--black);
    height: 5px;
    width: 100%;
}

